<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary"> New Recipe </button>
  </div>
</div>
<hr />


<div class="row">
  <div class="col-xs-12 ">
    <div class="media" *ngFor="let recipe of recipes" >
      <img [src]="recipe.imagePath" class="mr-3" alt="..." style="max-height: 50px">
      <div class="media-body">
        <h5> <a href="#"> {{ recipe.name }}</a> </h5>
        {{ recipe.description }}
      </div>
    </div>
  </div>
<!--  <app-recipe-item></app-recipe-item>-->
</div>


